body {
    margin: 0;
}

.main-title-heading {
    background-color:#FFFBEB;
}
.main-title-heading h1 {
    text-align: center;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    background-color: aqua;
}